@import '../../../../styles/main';

.header {
  @include general-block();
  
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  }

  .login-status {
    text-align: right;

    a {
        color: deepskyblue;
    }
}