<div class="login">
  <form (ngSubmit)="login()" #loginForm="ngForm">
    <div class="validation-error">{{errorMessage}}</div>
    <div>
        <label class="login__label" for="login">Login</label>
        <input type="text" required name="login" [(ngModel)]="userName" title="Warner" />
        <span>*enter</span>
    </div>
    <div>
        <label class="login__label" for="password">Password</label>
        <input type="password" required name="password" [(ngModel)]="password" title="ea" />
        <span>*enter</span>
    </div>
    <button type="submit" [disabled]="!loginForm.form.valid">Enter</button>
  </form>
</div>
