@import '../../../../styles/main';

.header {
  @include general-block();  
  
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.login-status {
text-align: right;

    a {
        color: deepskyblue;
    }
}