<div class="course-tile">
    <div class="course-tile__content">
        <div class="course-tile__header">
            <div>
                <span class="course-tile__title">{{course.title}}</span>
                <span>{{course.duration}}</span>
            </div>
            <div>{{course.date}}</div>
        </div>
        <div class="course-tile__body">{{course.description}}</div>
    </div>
    <div class="course-tile__toolbox">
        <button type="button">Edit course</button>
        <button type="button" (click)="delete(course.id)">Delete</button>
    </div>
</div>