<div class="course-tile" borderHighlight [date]="course.date" 
[ngClass]="{'course-tile__top-rated': course.topRated}">
    <div class="course-tile__content">
        <div class="course-tile__header">
            <div>
                <span class="course-tile__title">{{course.title | uppercase}}</span>
                <span class="course-tile__duration">{{course.duration | durationHm}} </span>
                <span *ngIf="course.topRated"> &#9734; </span>
            </div>
            <div>{{course.date | date:'mediumDate'}}</div>
        </div>
        <div class="course-tile__body">{{course.description}}</div>
    </div>
    <div class="course-tile__toolbox">
        <button class="button-toolbox" type="button" (click)="edit()">Edit course</button>
        <button class="button-toolbox" type="button" (click)="onDelete()">Delete</button>
    </div>
</div>