<div class="course-tile">
    <div class="course-tile__content">
        <div class="course-tile__header">
            <div>
                <span class="course-tile__title">{{course.title}}</span>
                <span class="course-tile__duration">{{course.duration}} min</span>
            </div>
            <div>{{course.date}}</div>
        </div>
        <div class="course-tile__body">{{course.description}}</div>
    </div>
    <div class="course-tile__toolbox">
        <button class="button-toolbox" type="button" (click)="edit(course.id)">Edit course</button>
        <button class="button-toolbox" type="button" (click)="onDelete()">Delete</button>
    </div>
</div>