html, body {
    font-family: 'Roboto', sans-serif;
}

button{
    font-size: 10pt;
    font-weight: 300;
    text-transform: uppercase;
    height: 40px;
    width: 150px;
    border-radius: 0;
    margin: 5px;
}

button:hover {
    background-color: whitesmoke;
}

.button-toolbox {
    height: 30px;
}

input[type=text],
input[type=password] {
    padding-left: 10px;
    margin: 10px;
    width: 290px;
    height: 30px;
    font-size: 10pt;
}

.page {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    z-index: 1;

    &__header {
        flex: none;
    }

    &__content {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
    }

    &__footer{
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
    }
}